fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
bcrypt==3.2.0
passlib[bcrypt]
pyodbc
ultralytics
onnxruntime
av
numpy
opencv-python
pillow
PyYAML
python-multipart
email-validator
requests
psutil
torch
torchvision
matplotlib
imagehash
hypothesis
